assets/search-bot-201-flow.json
[{
	"id": "d4c8a74c.53eef8",
	"type": "tab",
	"label": "Flow 1",
	"disabled": false,
	"info": ""
}, {
	"id": "8a30be24.3d5ec",
	"type": "http in",
	"z": "d4c8a74c.53eef8",
	"name": "",
	"url": "/chat",
	"method": "post",
	"upload": false,
	"swaggerDoc": "",
	"x": 130,
	"y": 100,
	"wires": [
		["7815d1ec.001188", "fa83fdaa.695de8"]
	]
}, {
	"id": "7815d1ec.001188",
	"type": "change",
	"z": "d4c8a74c.53eef8",
	"name": "history-in",
	"rules": [{
		"t": "set",
		"p": "payload",
		"pt": "msg",
		"to": "req.body.in",
		"tot": "msg"
	}, {
		"t": "set",
		"p": "history",
		"pt": "msg",
		"to": "  \"<div style='color:green;'>\" \t& payload\t& \"</div>\"\t& req.body.history\t",
		"tot": "jsonata"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 320,
	"y": 100,
	"wires": [
		["ee68544a.99a7c8"]
	]
}, {
	"id": "fa83fdaa.695de8",
	"type": "debug",
	"z": "d4c8a74c.53eef8",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 310,
	"y": 220,
	"wires": []
}, {
	"id": "8048a2d4.cbf33",
	"type": "http in",
	"z": "d4c8a74c.53eef8",
	"name": "",
	"url": "/chat",
	"method": "get",
	"upload": false,
	"swaggerDoc": "",
	"x": 120,
	"y": 300,
	"wires": [
		["647ed860.2859f", "fa83fdaa.695de8"]
	]
}, {
	"id": "24251ccf.8cb444",
	"type": "inject",
	"z": "d4c8a74c.53eef8",
	"name": "",
	"topic": "",
	"payload": "hello",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 330,
	"y": 160,
	"wires": [
		["ee68544a.99a7c8"]
	]
}, {
	"id": "c0cbb01.d83a1d",
	"type": "debug",
	"z": "d4c8a74c.53eef8",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 930,
	"y": 100,
	"wires": []
}, {
	"id": "a2b4be3c.ecb018",
	"type": "template",
	"z": "d4c8a74c.53eef8",
	"name": "dialog",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "{{#payload}}\n  {{#output}}\n    {{#generic}}\n    {{text}}\n    {{/generic}}\n  {{/output}}\n{{/payload}}",
	"output": "str",
	"x": 690,
	"y": 140,
	"wires": [
		["dae785b.579ddf8"]
	]
}, {
	"id": "647ed860.2859f",
	"type": "template",
	"z": "d4c8a74c.53eef8",
	"name": "dialog/form",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "<h1>chatting with Watson</h1>\n\n<form method=POST>\n    <input type=text name=in><input type=submit>\n    <input type=text name=history hidden value=\"{{{history}}}\">\n</form>\n<div>\n    {{{history}}}\n</div>",
	"output": "str",
	"x": 790,
	"y": 300,
	"wires": [
		["aab49b0b.b783d8"]
	]
}, {
	"id": "dae785b.579ddf8",
	"type": "change",
	"z": "d4c8a74c.53eef8",
	"name": "history-out",
	"rules": [{
		"t": "set",
		"p": "history",
		"pt": "msg",
		"to": "  \"<div style='color:red;'>\" \t& payload\t& \"</div>\"\t& history\t",
		"tot": "jsonata"
	}],
	"action": "",
	"property": "",
	"from": "",
	"to": "",
	"reg": false,
	"x": 870,
	"y": 180,
	"wires": [
		["647ed860.2859f"]
	]
}, {
	"id": "aab49b0b.b783d8",
	"type": "http response",
	"z": "d4c8a74c.53eef8",
	"name": "",
	"statusCode": "",
	"headers": {},
	"x": 930,
	"y": 300,
	"wires": []
}, {
	"id": "ee68544a.99a7c8",
	"type": "watson-assistant-v2",
	"z": "d4c8a74c.53eef8",
	"name": "",
	"default-endpoint": false,
	"service-endpoint": "https://gateway.watsonplatform.net/assistant/api",
	"assistant_id": "<<your-assistant-id>>",
	"debug": false,
	"restart": false,
	"return_context": true,
	"alternate_intents": false,
	"multisession": true,
	"timeout": "",
	"optout-learning": false,
	"x": 530,
	"y": 100,
	"wires": [
		["c0cbb01.d83a1d", "a28454e7.31b6d8"]
	]
}, {
	"id": "a28454e7.31b6d8",
	"type": "switch",
	"z": "d4c8a74c.53eef8",
	"name": "type",
	"property": "payload.output.generic[0].response_type",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "text",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "search",
		"vt": "str"
	}, {
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 3,
	"x": 530,
	"y": 180,
	"wires": [
		["a2b4be3c.ecb018"],
		["e6504a00.5649a8"],
		["fbc00ace.86d468"]
	]
}, {
	"id": "e6504a00.5649a8",
	"type": "template",
	"z": "d4c8a74c.53eef8",
	"name": "search",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "{{#payload}}\n  {{#output}}\n    {{#generic}}\n    {{header}}\n    {{#results}}\n    <details>\n        <summary>{{title}} ({{result_metadata.confidence}})</summary>\n        {{{highlight.body}}}\n    </details>\n    {{/results}}\n    {{/generic}}\n  {{/output}}\n{{/payload}}",
	"output": "str",
	"x": 690,
	"y": 180,
	"wires": [
		["dae785b.579ddf8"]
	]
}, {
	"id": "fbc00ace.86d468",
	"type": "template",
	"z": "d4c8a74c.53eef8",
	"name": "other",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "{{#payload}}\n  {{#output}}\n    {{#text}}\n    {{.}}\n    {{/text}}\n  {{/output}}\n{{/payload}}",
	"output": "str",
	"x": 690,
	"y": 220,
	"wires": [
		["dae785b.579ddf8"]
	]
}]